@import "../../../assets/styles/scss/partials/mixins";
@import "../../../assets/styles/scss/partials/constants";

.sectionTitleBox {
  border-bottom: 1px solid #6a6a6a;
  text-align: center;
  width: 80%;
  margin: auto;
  padding: 10px;
  color: #6a6a6a;
  font-size: 16px;
  // text-transform: uppercase;
  // font-weight: 40;
  // font-family: $fancy-font;

  // @include mq(small) {
  //   width: 90%;
  // }
}
