@import "../partials/variables";
@import "../partials/mixins";

.main-header-home {
  @include fixed-image;
  height: 100vh;
}

.social-media-icons-color {
  margin-top: em(30px);
  margin-left: em(30px);
  position: absolute;
  // float: left;

  :first-child {
    margin-left: 0px;
  }
  img {
    margin-left: em(12px);
    height: em(50px);
  }

  img:hover {
    cursor: pointer;
  }
}

.title-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: em(330px);
  background-color: white;
  justify-content: center;
}

.navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  float: left;
  list-style: none;
  font-size: em(45px);
  width: 100%;
  color: white;
  background-color: rgba(78, 78, 77, 0.2);

  li {
    flex-grow: 1;
    text-align: center;
    padding: em(7px);
  }

  li:hover {
    cursor: pointer;
    background-color: rgba(68, 68, 67, 0.2);
  }
}

.home-dog-hero {
  background-image: url("../../images/heroes/home-dog-hero-tall-test3.jpg");
}

.main-title {
  @include main-title;
  font-size: $main-title-size;
  color: $main-title-color;
  margin-bottom: em(5px);
}

.main-subtitle {
  color: $main-title-color;
  font-family: $fancy-font;
  font-size: $main-subtitle-size;
  font-weight: 400;
  margin-bottom: em(5px);
}

.hero-text-box {
  // flex-grow: 6;

  // background-color: lightcoral;
  position: absolute;
  // background-color: red;
  width: 610px;
  // margin-top: 20%;

  top: 50%;
  left: 10%;
  right: 53%;

  transform: translate(-10%, 10%);
}

.hero-tagline {
  color: $hero-grey;
  font-weight: 200;
  font-size: em(95px);
  margin-bottom: em(5px);
}

.hero-link-button {
  font-size: em(44px);
  display: inline-block;
  padding: 15px 35px;
  text-decoration: none;
}

.link-button:hover {
  cursor: pointer;
}

.link-button-full {
  background-color: $hero-red;
  color: white;
}

.link-button-full:hover {
  background-color: $hero-red-hover;
}

.link-button-ghost {
  margin-left: em(14px);
  color: $hero-red;
  border: 2px solid $hero-red;
}

.link-button-ghost:hover {
  background-color: $hero-red;
  color: white;
}
