@import "../partials/variables";
@import "../partials/mixins";

.about-container {
  background-color: $about-grey;
  display: grid;
  justify-content: center;
  grid-column-gap: 10em;

  padding: 9em;

  grid-template-areas: "title image" "about image";

  h2 {
    font-size: $about-title-size;
    color: $main-title-color;
    text-transform: uppercase;
    grid-area: title;
    margin-bottom: 5rem;
  }

  h2:after {
    display: block;
    height: 6px;
    background-color: $main-title-color;
    content: " ";
    width: 100px;
    margin-top: 30px;
  }

  p {
    font-size: $medium-font-size;
    color: $main-title-color;
    grid-area: about;
    text-align: center;
    width: 26em;
  }
}

.about-photo {
  @include photo-shadow;

  width: 40em;

  object-fit: cover;
  // height: 60em;
  overflow: hidden;
}

.about-photo-container {
  grid-area: image;

  // width: 3em;
  width: 40em;
}
