@import "./constants";
// @use "sass:map";

@mixin fixed-image {
  background-color: white;
  display: block;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@mixin photo-shadow {
  box-shadow: rgba(100, 100, 100, 0.3) 4.4px 4.4px 4.2px;
}

@mixin general-text {
  font-size: $medium-font-size;
  color: $main-title-color;
}

@mixin main-title {
  font-size: $main-title-size;
  font-family: $fancy-font;
  font-weight: 500;
}

@mixin imageOverlay {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: absolute;

  &:hover {
    cursor: pointer;
  }
}

@mixin galleryWrapper {
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 5em;
  overflow: auto;
  display: block;
  width: 100%;
  min-height: "1px";

  &::before {
    content: " ";
    display: block;
    white-space: pre;
  }
}

@mixin galleryTitle {
  font-weight: 600 !important;
  text-transform: uppercase;
}

@mixin galleryPhotoBlock {
  margin-top: 5em;
}

@mixin galleryTitleWrapper {
  margin-bottom: 3.5em;
}
