@import "../../assets/styles/scss/partials/functions";

.welcome-paragraph {
  margin: auto;
  margin-top: em(18px);
  width: 65%;
}

.dog-icon {
  position: absolute;
  margin-left: 0.4em;
  height: 1.4em;
}
