@import "../../assets/styles/scss/partials/variables";
@import "../../assets/styles/scss/partials/mixins";

.review-banner {
  @include fixed-image;
  background-image: url("../../images/reviews/blue-collar_cropped-5.jpg");
  height: 17vh;
  text-align: center;
  display: flex;
  justify-content: center;

  flex-direction: column;

  h2 {
    color: white;
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 400;
  }
}

.review-block-container {
  display: flex;
  justify-content: space-around;
  margin-left: 5em;
  margin-right: 5em;
  margin-top: 5em;
  margin-bottom: 5em;
}

.review-block {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  width: 27%;
  color: $review-grey;
  height: 21em;

  h3 {
    font-size: 3rem;
  }

  blockquote {
    font-size: 2rem;
  }

  cite {
    font-size: 2rem;
    font-weight: 700;
  }
}
