@import "../partials/variables";

.rupertfooter-container {
  text-align: center;
  background-color: $footer-dark-grey;
  color: $footer-dark-grey-text;
  font-size: $medium-small-font-size;
  font-weight: 300;
  padding: 1em;
}
